name: publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish_and_release:
    permissions:
      contents: write # Allows this job to create releases

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
          cache: 'pnpm'
      
      - run: |
          pnpm install
          pnpm build

      - run: pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      
      - name: Get package version
        run: echo "version=v$(node -p "require('./package.json').version")" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          tag_name: ${{ env.version }}
